@tailwind base;
@tailwind components;
@tailwind utilities;
 
 @font-face {
   font-family: 'Montserrat Arabic';
   src: url('/fonts/Montserrat-Arabic_Bold_700.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
 }
 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Montserrat Arabic', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ant-btn-primary {
  background-color: #f97316;
  border-color: #f97316;
}

.ant-btn-primary:hover {
  background-color: #ea580c;
  border-color: #ea580c;
}
